.features {
    background-color: #fff;
    padding: 120px 0;
}

.features .container {
    display: flex;
    flex-direction: column;
}

.container .ul-container {
    display: flex;
    gap: 24px;
}

.features-item {
    flex-basis: calc((100% - 72px) / 4);
}

.features .features-titles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features .features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.features .features-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
}