.header {
    background-color: #fff;
    border-bottom: 1px solid #e7e9fc;

}

.logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    margin-right: 76px;
    padding: 16px 0;

}

@media (min-width: 768px) and (max-width: 1157px) {

    .logo-header {
        margin-right: 120px;
    }
}

.logo-header .part-of-the-logo {
    color: #4d5ae5;
}

.navigation {
    display: none;
}

@media screen and (min-width:768px) {
    .navigation {
        display: block;
    }
}

.navigation-links {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;

}

.navigation-links.active {
    color: #404bbf;
}

.navigation-links.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.navigation-links:hover, .navigation-links:focus {
    color: #404bbf;
}


@media screen and (min-width:768px) {
    .address-links {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        font-style: normal;
        display: block;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}


@media screen and (min-width:1158px) {
    .address-links {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;

    }
}

.address-links:hover, .address-links:focus {
    color: #404bbf;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navigation .ul-container {
    display: flex;
    gap: 40px;
}

.header .address {
    margin-left: auto;
    display: none;
}

@media screen and (min-width:768px) {
    .header .address {
        display: block;
    }

    .header .address .ul-container {
        display: flex;
        flex-direction: column;
        gap: 12px;

    }

    .address-links {
        padding: 0;
    }
}

@media screen and (min-width:1158px) {
    .header .address .ul-container {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
}

.header .burger-menu-image {
    margin: 16px;
}

.header .burger-button {
    border: none;
    background-color: transparent;
}

@media screen and (min-width:768px) {

    .header .burger-menu-image {
        display: none;
    }
}